layout {
    default_tab_template {
        pane size=1 borderless=true {
            plugin location="zellij:tab-bar"
        }
        children
        pane size=2 borderless=true {
            plugin location="zellij:status-bar"
        }
    }

    tab name="editor" focus=true split_direction="vertical" {
        pane size="60%" focus=true {
            command "hx"
            args "."
        }
        pane size="40%"
    }

    tab name="terminal" {
        pane
    }
}
